#container {
    display: grid;
    grid-template-areas:
        "header header header"
        "nav main aside"
        "footer footer footer";
    grid-gap: 10px;
    grid-template-columns: 180px 1fr 200px;
    min-height: 100vh;
}

header { grid-area: header; background: #81c7df; padding: 20px; text-align: center; }
nav { grid-area: nav; background: #a7d192; padding: 20px; }
main { grid-area: main; padding: 20px; }
aside { grid-area: aside; background: #c291e7; display: flex; justify-content: center; align-items: center; text-align: center; }
footer { grid-area: footer; background: #81c7df; padding: 15px; text-align: center; }

nav a {
    display: block;
    padding: 10px;
    margin-bottom: 15px;
    text-decoration: none;
    background: #f0d37b;
    text-align: center;
    border-radius: 8px;
    color: #333;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    background: #eedfbf;
    transform: scale(1.05);
}

nav a:visited {
    color: #555;
    background: #caa445;
}

.tarjetas {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
}

.tarjeta {
    background: #f0e4c0;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 32%;
}

.tarjeta img {
    width: 200%;
    border-radius: 8px;
}

.tarjeta button {
    margin-top: 10px;
    padding: 8px 15px;
    background: #ddba7c;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

th {
    background: #c4f0ff;
}

th, td {
    border: 1px solid #747474;
    padding: 10px;
    text-align: center;
}

tbody tr:nth-child(odd) {
    background: #ffffff;
}

tbody tr:nth-child(even) {
    background: #d4d4d4;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select, textarea{
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #aaa;
}

.submit {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #555555;
    background: #d2e6a3
}

.submit:hover {
    scale: 1.05;
}